<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="icon" href="images/Sail.jpg" type="image/x-icon">
    <style>
        table {
            table-layout: fixed;
            width: 100%;
        }
        
        td {
            width: 50%;
        }
    </style>
</head>

<body>
    <div class="sidebar">

        <!-- The sidebar -->
        <div class="sidebar">
            <div class="img">
                <img src="images/Sail.jpg">
            </div>
            <a class="active" href="/clubs">Clubs</a>

            <a href="/event-proposal">Event Proposal</a>
            <a href="/events-requested">Events Requested</a>
            <a href="/events-approved">Events Approved</a>
            <a href="/events-rejected">Events Rejected</a>

        </div>

    </div>

    <div class="content">

        <div class="navHeader" style="margin: 0;">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div style="background: rgb(17, 150, 0);" class="container-fluid">

                    <h1><b>Sciences &amp; Technical Clubs</b></h1>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0"> </ul>
                        <img style="width: 100px; height: 100px;" src="images/Pandit_Deendayal_Energy_University_logo.png">

                    </div>
                </div>
            </nav>
        </div>



        <div id="wraper">
            <div class="mid">
                <div id="contentin">
                    <div class="contleftin">
                        <h5>Aatmann - <small>The Psychological club of PDEU</small>
                            <a href="https://www.instagram.com/aatmann.pdeu" target="_blank"><img src="images/instagram.jpg" width="30px"></a>
                        </h5>
                        <table border="0">
                            <tbody>
                                <tr>
                                    <td><img src="images/Aatmann.jpg"></td>
                                    <td><b>Contact:</b><br>
                                        <strong>Farhan Baig</strong><br> Mobile No.: +91 9601878977<br> Email: farhan.bbb20@sls.pdpu.ac.in<br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Aatman, the psychology club of Pdpu, aims to ensure the well being of each and every student present on campus. The sole purpose of the club is focus on various mental health issues and mental well being of an individual ( topics
                            often untouched otherwise). Moreover aatman also aims to introduce a subject like psychology to everybody in order to make it accessible to people and wants to make people feel comfortable while taking help if the need arises.
                            It wishes to fulfill its aim by organising various events and playing various to raise awareness among the participants of the same.</p>
                        <p>&nbsp;</p>

                        <h5>Alchemy - <small>The Chemistry club of PDEU</small>
                            <a href="https://www.instagram.com/alchemy_pdeu" target="_blank"><img src="images/instagram.jpg" width="30px"></a>
                        </h5>
                        <table border="0">
                            <tbody>
                                <tr>
                                    <td><img src="images/Alchemy.jpg"></td>
                                    <td><b>Contact:</b><br>
                                        <strong>Om barshakhwala</strong><br> Mobile No.: +91 7567926566<br> Email: om.bict19@sot.pdpu.ac.in</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Our club's moto is to promote and enhance the knowledge of deep chemistry used in every day works and activities. Also we help students learn and take advantage of different concepts of chemistry and the latest development in chemistry
                            fields through engaging and interesting talks, webinars and events. Also on regular basis the club tries every which way possible to help and make people aware about the importance of chemistry and how is it so much related
                            to our life and can be called as the diamond in the crown of life challenges.</p>
                        <p>&nbsp;</p>

                        <h5>Anirveda - <small>The Techno Economy club of PDEU</small>
                            <a href="https://www.instagram.com/anirveda_pdeu/" target="_blank"><img src="images/instagram.jpg" width="30px"></a>
                        </h5>
                        <table border="0">
                            <tbody>
                                <tr>
                                    <td><img src="images/Technical9.jpg"></td>
                                    <td><b>Contact:</b><br>
                                        <strong>Riya Sharma</strong><br> Mobile No: +91 9925478205<br> Email: riya.see19@sot.pdpu.ac.in</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Anirveda, the TechnoEconomics Club of PDEU, firmly believes in transcending boundaries which is why they're passionate about a medley of fields. Technology, economics and things in between are all what the club juggles with. The
                            club aims to generate awareness about current happenings around the world and the ways those affect the economic system. Anirveda aims to bring all students together and make knowledge that might seem intimidating easier and
                            accessible to all.</p>
                        <p>&nbsp;</p>

                        <h5>Avionics - <small>The Aero Modelling club of PDEU</small>
                            <a href="https://www.instagram.com/avionics_pdeu/" target="_blank"><img src="images/instagram.jpg" width="30px"></a>
                        </h5>
                        <table border="0">
                            <tbody>
                                <tr>
                                    <td><img src="images/Technical7.jpg"></td>
                                    <td><b>Contact:</b><br>
                                        <strong>Dhara Parekh</strong><br> Mobile No: 8347865127<br> Email: dhara.pmc20@sot.pdpu.ac.in</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Avionics is the aero-modelling club of PDEU. It deals with various aspects of aviation and the team believes in spreading knowledge and awareness about aviation. Avionics aims to create a perfect platform for students to gather
                            and disseminate knowledge.The full emphasis of the club is on the importance of innovation. Multiple professionals, academicians, aviation enthusiasts and students contribute towards taking this club to its goal of fostering
                            innovation in the field of aeronautics.</p>
                        <p>&nbsp;</p>

                        <h5>Brahmand- <small>The Astronomy club of PDEU</small>
                            <a href="https://www.instagram.com/brahmand_pdeu" target="_blank"><img src="images/instagram.jpg" width="30px"></a>
                        </h5>
                        <table border="0">
                            <tbody>
                                <tr>
                                    <td><img src="images/Technical1a.jpg"></td>
                                    <td><b>Contact:</b><br>
                                        <strong>Hansal Shah</strong><br> Mobile No: +91 99250 49282<br> Email: Hansal.sce19@sot.pdpu.ac.in</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Brahmand is the astronomy club of PDEU. The mission of Brahmand is to focus on various activities that help us understand our infinite universe. Events related to astronomy and astrophysics are conducted by the club annually. Brahmand
                            constantly works for spreading awareness among the students about astronomy, its powers, and what miracles it can do. So if you are a space enthusiast, join us on our journey and EXPLORE THE UNEXPLORED!</p>
                        <p>&nbsp;</p>


                        <h5>Bulls &amp; Bears - <small>The Finance club of PDEU</small>
                            <a href="https://www.instagram.com/bullsandbears_pdeu/" target="_blank"><img src="images/instagram.jpg" width="30px"></a>
                        </h5>
                        <table border="0">
                            <tbody>
                                <tr>
                                    <td><img src="images/Bulls.jpg"></td>
                                    <td><b>Contact:</b><br>
                                        <strong>Avnee Satija</strong><br> Mobile No.: +91 78799 14044<br> Email: avnee.sbb19@sls.pdpu.ac.in</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>BullsandBears is the Finance Club at PDEU. The goal of BullsandBears is to encourage interest and knowledge in the field of finance. They aim to become a learning space in the field of finance and investment that develops successful
                            professionals. The club is always on the lookout for such enthusiasts and bring them together as a part of a community, enabling them to discover recent trends and developments in the field of finance.</p>
                        <p>&nbsp;</p>


                        <h5>Cretus - <small>The Robotics and Automation club of PDEU</small>
                            <a href="https://www.instagram.com/cretus.pdeu/" target="_blank"><img src="images/instagram.jpg" width="30px"></a>
                        </h5>
                        <table border="0">
                            <tbody>
                                <tr>
                                    <td><img src="images/Technical2.jpg"></td>
                                    <td><b>Contact:</b><br>
                                        <strong>Sarthak Mehta</strong><br> Mobile No: +91 8849063103<br> Email: Sarthak.mce19@sot.pdpu.ac.in</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Endeavours to provide a platform for learning about different areas of Robotics. Encouraging to develop interdisciplinary knowledge of Robotics and Automation, Cretus as a club always intends to leverage the sense of Robotics culture
                            through projects and workshops that enhances the reach of the club and forming a wider space known as Cretus Community.</p>
                        <p>&nbsp;</p>


                        <h5>Cube-i-Cult - <small>The Cubing Club of PDEU</small>
                            <a href="https://www.instagram.com/cube_i_cult_pdeu/" target="_blank"><img src="images/instagram.jpg" width="30px"></a>
                        </h5>
                        <table border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td><img src="images/Cube.jpg"></td>
                                    <td><b>Contact:</b><br>
                                        <strong>Mustafa Africawala</strong><br> Mobile No.: +91 9662564452<br> Email: mustafa.ace19@sot.pdpu.ac.in</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Cube-i-Cult is the cubing club of PDEU, which serves to establish an environment of learning, and competition in the area of Rubik’s cubes. We aim to bring together people who are interested in solving Rubik’s Cube and it's other
                            cubic and non-cubic variants. We promote speedcubing, organize various competitions( general and WCA affiliated ), and have lots of fun improving on our best timing and discussing better ways to solve various patterns.</p>
                        <p>&nbsp;</p>


                        <h5>Encode - <small>The Computer Science club of PDEU</small>
                            <a href="https://www.instagram.com/encode_pdeu/" target="_blank"><img src="images/instagram.jpg" width="30px"></a>
                        </h5>
                        <table border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td><img src="images/Technical3a.jpg"></td>
                                    <td><b>Contact:</b><br>
                                        <strong>Dhruv Sirodaria</strong><br> Mobile No: +91 9429580424<br> Email: dhruv.sce19@sot.pdpu.ac.in</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Encode is the Computer Science Club of PDEU, whose key purpose is to introduce students from diverse fields to upcoming innovations in the world of computer science and their relevance in a range of fields. We aim to teach about
                            new technologies that exist in the market by coming up with some amazing, out of the box activities and workshops for students to learn from. We have a community of enthusiastic people who enjoy learning and helping each other
                            out!
                        </p>
                        <p>&nbsp;</p>


                        <h5>Envirofreaks - <small>The Environmental club of PDEU</small>
                            <a href="https://www.instagram.com/envirofreaks_pdeu/" target="_blank"><img src="images/instagram.jpg" width="30px"></a>
                        </h5>
                        <table border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td><img src="images/Technical10.jpg"></td>
                                    <td><b>Contact:</b><br>
                                        <strong>Janvi Chaudhari</strong><br> Mobile No.: +91 8758930132<br> Email: janvii.ccv19@sot.pdpu.ac.in</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Envirofreaks is the Environmental Club of PDEU.Their main aim is to inculcate student's interest in various environmental sciences and occurrences to build an outlook for environmental conservation activities. To develop nature
                            in people for conservation of our environment through action-oriented activities. The club is dedicated to bringing environmental wellness and devoted to uplift the numerous amounts of activities and events related to the environment.</p>
                        <p>&nbsp;</p>


                        <h5>Mind Ripple - <small>The Quizzing club of PDEU</small>
                            <a href="https://www.instagram.com/mindripplepdeu/" target="_blank"><img src="images/instagram.jpg" width="30px"></a>
                        </h5>
                        <table border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td><img src="images/Technical4.jpg"></td>
                                    <td><b>Contact:</b><br>
                                        <strong>Priyansh Tratiya</strong><br> Mobile No: +91 94089 90628<br> Email: priyansh.tce19@sot.pdpu.ac.in</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Mind~Ripple, The Quizzing Club of PDEU was formed in 2008 with the motive to inculcate Quizzing culture among the students. The club dabbles with any and every field to spread general knowledge, engender logical reasoning and to
                            spread awareness besides having fun and competing with the best quizzers in India. Apart from the quizzes, Mind~Ripple also organises multiple events such as TEDxPDEU and Human Board Game. The club welcomes all curious students
                            who are interested in expanding their knowledge and to get in sync with the chaos within.</p>
                        <p>&nbsp;</p>


                        <h5>Respawn - <small>The E-Gaming club of PDEU</small>
                            <a href="https://www.instagram.com/respawn_pdeu/" target="_blank"><img src="images/instagram.jpg" width="30px"></a>
                        </h5>
                        <table border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td><img src="images/Technical8.jpg"></td>
                                    <td><b>Contact:</b><br>
                                        <strong>Sanskar Shah</strong><br> Mobile No: +91 9016879985<br> Email: sanskar.sch19@sot.pdpu.ac.in</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Respawn is the Gaming Club of PDEU. The club aims at encouraging gamers to display their skills in gaming. Their objective is to develop playing games as a skill rather than just for fun. The club has been organising various gaming
                            rallies and events throughout the year . They welcome gaming enthusiasts throughout the campus. They go by the quote,"Gamers don't die, they respawn".</p>
                        <p>&nbsp;</p>


                        <h5>SOM - <small>The Mathematics club of PDEU</small>
                            <a href="https://www.instagram.com/som_pdeu/" target="_blank"><img src="images/instagram.jpg" width="30px"></a>
                        </h5>
                        <table border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td><img src="images/Mathematics.jpg"></td>
                                    <td><b>Contact:</b><br>
                                        <strong>Manav Bhavsar</strong><br> Mobile No.: +91 9664550245<br> Email: manav.bce19@sot.pdpu.ac.in</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Society of Mathematics, the mathematics club of PDEU intends on fostering a passion for mathematics in all of its forms. Aside from classroom and college-level mathematics, only a few individuals are familiar with the fields included
                            under the umbrella of Mathematics. Seamlessly interweaving with other subjects, mathematics strives to cover as much ground as feasible. As a result, the Society of Mathematics seeks to make life simpler by presenting mathematics
                            in tiny units of learning, eschewing the attempt to tarnish the beauty mathematics reveals.</p>
                        <p>&nbsp;</p>

                        <h5>Sorriso - <small>The Photography club of PDEU</small>
                            <a href="https://www.instagram.com/sorriso_photography/" target="_blank"><img src="images/instagram.jpg" width="30px"></a>
                        </h5>
                        <table border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td><img src="images/Technical5.jpg"></td>
                                    <td><b>Contact:</b><br>
                                        <strong>Jugal Acharya</strong><br> Mobile No: +91 8128868901<br> Email: jugal.amc19@sot.pdpu.ac.in</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>SORRISO - a Portuguese word meaning “Smile”- is the PHOTOGRAPHY CLUB of PDEU comprising a team of divergent individuals seeking photography as a an art form. We aim at assisting curious minds to learn all about photography, design
                            and the holistic process of clicking. Our mission is to take photography a notch higher through collaboration with professional or non-professional groups.</p>
                        <p>&nbsp;</p>


                        <h5>Symmetry - <small>The Graphic Designing club of PDEU</small>
                            <a href="https://www.instagram.com/symmetry_pdeu/" target="_blank"><img src="images/instagram.jpg" width="30px"></a>
                        </h5>
                        <table border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td><img src="images/Symmetry.jpg"></td>
                                    <td><b>Contact:</b><br>
                                        <strong>Chirasvi Desai</strong><br> Mobile No.: +91 9601899704<br> Email: chirasvi.dbb19@sls.pdpu.ac.in</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Symmetry is the graphic design club of PDEU. It is a family of graphic designers and digital art enthusiasts. With the shift of the interests of the world to the digitalized media, the sole aim of the club is to mentor those having
                            keen interest in learning the digital art through their events, webinars and competitions. It builds a network of beginners as well as professional graphic designers and are also associated with fellow clubs and committees,
                            are working together to improvise their visual communication and branding.</p>
                        <p>&nbsp;</p>


                        <h5>Synergy - <small>The Entrepreneurial club of PDEU</small>
                            <a href="#" target="_blank"><img src="images/instagram.jpg" width="30px"></a>
                        </h5>
                        <table border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td><img src="images/Synergy.jpg"></td>
                                    <td><b>Contact:</b><br>
                                        <strong>Rishi Ghiraiya</strong><br> Mobile No.: +97 79813331460<br> Email: rishi.gbcom19@sls.pdpu.ac.in</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Synergy, The Entrepreneurship Club of PDEU, is a platform designed for our peers to get hands-on learning of skills from successful entrepreneurs, industrialists in different areas of expertise. It aims to create a platform to
                            exchange ideas and explore professions ensuring a medium for enhancing their skill sets. The idea is to provide all practical learning to take them closer to being future leaders in different fields while making national and
                            international connections.</p>
                        <p>&nbsp;</p>


                        <h5>VGA - <small>The Film-Making club of PDEU</small>
                            <a href="https://www.instagram.com/vga_pdeu/" target="_blank"><img src="images/instagram.jpg" width="30px"></a>
                        </h5>
                        <table border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td><img src="images/Technical6.jpg"></td>
                                    <td><b>Contact:</b><br>
                                        <strong>Nachiket Soni</strong><br> Mobile No: +91 9998216846<br> Email: nachiket.sict19@sot.pdpu.ac.in</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Video Graphics Association- the filmmaking club of PDEU, is a hub for all the film and filmmaking enthusiasts of the university to ‘Propel ideas into films’. Established in 2007 the club has been doing coverage and after movies
                            of all the events and fests that take place in the university. But VGA does not limit to aftermovies and editing, rather it also provides a place for movie enthusiasts to come and learn filmmaking, it is place where creative
                            folks come and make movies, it is a place where ideas and creativity take the lead and rest follows.</p>
                        <p>&nbsp;</p>


                        <h5>Step-Up - <small>The Fitness club of PDEU</small>
                            <a href="#" target="_blank"><img src="images/instagram.jpg" width="30px"></a>
                        </h5>
                        <table border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td><img src="images/step-up.jpg"></td>
                                    <td><b>Contact:</b><br>
                                        <strong>Heth Jain</strong><br> Mobile No: +91 9328888611<br> Email: heth.jbb19@sls.pdpu.ac.in</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>“Step-up”, the fitness club of PDEU with the sole motto to make fitness an enjoyable experience by creating awareness and providing neccesary fitness solutions which helps in building a fit lifestyle.Club performs various activities
                            like Extreme gym, Plans healthy personalised diet, Fitness workshop, Mindful meditation and many more</p>
                        <p>&nbsp;</p>


                        <h5>Punnerva - <small>The Yoga club of PDEU</small>
                            <a href="https://www.instagram.com/punnerva" target="_blank"><img src="images/instagram.jpg" width="30px"></a>
                        </h5>
                        <table border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td><img src="images/Punnerva.jpg"></td>
                                    <td><b>Contact:</b><br>
                                        <strong>Kratika Mundra</strong><br> Mobile No: +91 8989046876<br> Email: kratika.mbb19@sls.pdpu.ac.in</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>PUNNERVA is the Yoga and Fitness Club of PDEU. The main motto of club is to promote the best gift of ayurveda to the world i.e., YOGA. We constantly work to motivate and encourage everyone to adapt yoga in there life and get the
                            best of it through proper knowledge. The club conveys yoga practices that balances the body and mind with holistic and professional lifestyle rhythm.</p>
                        <p>&nbsp;</p>


                        <h5>Nucleus - <small>The Physics club of PDEU</small>
                            <a href="#" target="_blank"><img src="images/instagram.jpg" width="30px"></a>
                        </h5>
                        <table border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td><img src="images/nucleus.jpg"></td>
                                    <td><b>Contact:</b><br>
                                        <strong>Asit Dave</strong><br> Mobile No: +91 9375777888 <br> Email: asit.dbsc18@sls.pdpu.ac.in</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Our primary purpose is to develop a physics community in PDEU by discovering curious minds who want to explore the world of physics, exhibit the diversity of physics and its research frontier to students, inculcate scientific creativity
                            and skills amongst students, and ultimately, connect to a larger community of physics.</p>
                        <p>We as a club also believe in making physics a fun subject and making students of various disciplines be able to access, experience, and enjoy the holistic ideas of physics.</p>
                        <p>&nbsp;</p>


                        <h5>The Network - <small>The Professional club of PDEU</small>
                            <a href="https://www.instagram.com/thenetwork_pdeu" target="_blank"><img src="images/instagram.jpg" width="30px"></a>
                        </h5>
                        <table border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td><img src="images/thenetwork.jpg"></td>
                                    <td><b>Contact:</b><br>
                                        <strong>Priyam Sheth</strong><br> Mobile No: +91 7227973477<br> Email: priyam.sict19@sot.pdpu.ac.in</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>The club is solely based on Building Professionalism and Gaining Knowledge in one’s desired field. The club will not have any ‘conventional’ events. Our focus would rather be on organizing Professional and Networking Events for
                            the students of this institute including but not limited to Career Fests, networking weekends etc.</p>
                        <p>Students are unique in the sense that they belong to the institution forever, and this club will help to carve a niche for them. It will help them succeed in making their personal and professional network. This will aid in making
                            an open community full of interaction among the students, industry workers, and faculties to harness the knowledge, experience, and a step in the direction of working in the industry.</p>
                        <p>&nbsp;</p>



                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>


                </div>
            </div>
        </div>

    </div>



</body>

</html>